<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%="Welcome to eJournal User" %>
<br />
 <%= "Message from users controller : #{@user_message}" %>
<%#(outputs message + the message of the instance var in the controller)Cannot send data from views to controllers %>

<%# link_to("Go to Index", {:controller => 'welcome', :action => 'index'}) %>

<%= link_to("Go back Home", {:controller => 'static_pages', :action => 'index'}) %>
	
 <%#  :controller => 'welcome',    code is inside sample and we’re going back to index no need) %>
<%# To pass addition params in url add %>
<br />
 <%# "Message from users controller : #{@url}" %>
 
 <br />
 <%# "You are loged in as: #{@which_user}" %>

<%= yield %>

</body>
</html>
