<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Search Results</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<h2>You searched for <%= @search_term %> </h2>
<body>
<% if @students.length ==0 %>

<br>

<p>No student are with that name in the Database. Make sure your spelling is correct and if so then just make if logged in <%= link_to 'add a new student', new_student_path %>. </p>

<% end %>

 
<div class="table-title">
<h3>Students Table</h3>
</div>
<table class="table-fill">
 
<thead>
<tr>
     <%= link_to 'New Student', new_student_path %>
<th class="text-left">Name</th>
<th class="text-left">Date of Birth</th>
<th class="text-left">School</th>
<th class="text-left">Comment</th>
<th class="text-left">Edit/Destroy/Add</th>
</tr>
</thead>
<tbody class="table-hover">
    <% @students.each do |student| %>
<tr>                                      
<td class="text-left"><%= link_to "#{student.name} ", student %><%= student.surname  %></td>
<td class="text-left"><%= "#{student.day_of_birth} /" %>  
            <%= "#{student.month_of_birth} /"%>
            <%= student.year_of_birth %></td>
<td class="text-left"> <%= student.school %></td>
<td class="text-left"> <%= student.comment %></td>
<td class="text-left"> <% if user_signed_in? %>
              <%= link_to 'Edit', edit_student_path(student) %>
              <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %>
               <%else%>
            <%end%> </td>
            
           
</tr>
<tr>

</tr>

</tbody>

 <% end %>
</table>
  

  </body>



