<p id="notice"><%= notice %></p>
<p>
  <strong>The email of this student is:</strong>
  <%= @student.email %>
</p>
<!-- or try id + send teh email and then filter all the results by that emil    , :id => @student.email-->
<%
#@splitEmailF = @student.email.split("@").first
#@splitEmailL = @student.email.split("@").last
#@splitEmail=@splitEmailF+@splitEmail
#you can try adding .last and do the two params so that to avoid matching email for 2 dif people%>
<%#'the uri fom the method is' %>   <%# @splitEmail %> <br>
<%= link_to("SEE Your Student's Results", {:controller => 'results', :action => 'index', :id =>  @student.email}) %>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Day of birth:</strong>
  <%= @student.day_of_birth %>
</p>

<p>
  <strong>Month of birth:</strong>
  <%= @student.month_of_birth %>
</p>

<p>
  <strong>Year of birth:</strong>
  <%= @student.year_of_birth %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
