
<head>
    <meta charset="utf-8" />
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <title>Filter Form</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>
<%= render 'layouts/header' %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="header">
                    <h4 class="title">Create/Edit A Filter</h4>
                    <p class="category">Enter Surname or Email</p>
                </div>
                <br>
                
                
                
                <%= form_for(@lfilter) do |f| %>
                <% if @lfilter.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@lfilter.errors.count, "error") %> prohibited this lfilter from being saved:</h2>

                  <ul>
                      <% @lfilter.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                  </ul>
              </div>
              <% end %>


              <div class="field">
               <tr>
                <th> <div class="field"><%= f.label :lfilter,'Searched Term (email or surname)' %><br>
                    <p><%= f.text_field :lfilter %><br> </div><%= f.label :email %><br><p><%= f.text_field :email, required: true, value:current_user.email, :readonly => true  %><br> <div class="actions"> <%= f.submit 'Create', class: "btn purple-button"  %></div>   </p></th>
                </tr> 
            </div>   
            

            <% end %>
            <div class="field">
               <tr>
                <th> <p><%= link_to("Back", {:controller => 'parents', :action => 'index'}) %></p></th>
            </tr> 
        </div> 


    </div>
</div>
</div>

</div>
</div>
</div>
<%= render 'layouts/footer' %>
