<p id="notice"><%= notice %></p>

<p>
  <strong>Lfilter:</strong>
  <%= @lfilter.lfilter %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lfilter.email %>
</p>

<%= link_to 'Edit', edit_lfilter_path(@lfilter) %> |
<%= link_to("Back", {:controller => 'parents', :action => 'index'}) %>
