

   <!-- 
<link href="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->

<body>
 <%= render 'layouts/header' %>
 

<!-------------------------------------------------------------------------------  Filters TABLE BEGIN------------------>   
<!-- collapse acardion
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div> 
-->
        <div class="content purple-horizontal">
             <p id="notice"><%= notice %></p>
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">ALL Students By Filters Table</h4>
                                <p class="category">This table contains all students whose surname(s) or email(s) are in the filter table</p>
                                 <p style="margin-bottom:1.5%;"><%= render 'layouts/search' %></p><br>
                                <p class="category"><%= link_to ' ADD a New Student', new_student_path, class: "btn purple-button" %></p>
                              <br>
                               
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                            <th class="text-left">Name</th>
                                        <th class="text-center">Date of Birth</th>
                                        <th class="text-center">School</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Results</th>
                                        <th class="text-center">Comment</th>
                                        <th class="text-center">Edit/Delete</th>
                                    </thead>
                        

                                    
                                     <!--ROW 1 -->
<!-- check if the code below works. if deleting the table all works so the prob is in the tble / the prob is that for sure the lfilters themselves is more than 0-->
<!--    -->
<% if @students.length == 0 || @pfilters.length == 0 %>
                <div class="col-md-6">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="text-warning">There are no resutls for the student/s you are looking for by what you are filtering (the student or/and the filter does not exist yet). Add a filter first and if same message appears then add a student)</h4>
                                
                            </div>
                            </div>
                            </div>
<% end %>

                                    <tbody>
                                        
                                         <tr>
                                             
                                             <!--ADD IF NO PFILTERS to display no filters result-->
                                        <!--IF ONE STUDENT IS THE RESULT OF THE FILTER THEN MAYBE GO STRAIGN TO MARKS?-->
                                      
                                <% @pfilters.each do |pfilter| %>
                                         <% @students.each do |student| %>
<% if pfilter.pfilter.casecmp(student.surname) == 0 || pfilter.pfilter.casecmp(student.email) == 0 ||  pfilter.pfilter.casecmp(student.school) == 0%>
                                          <tr>
<td class="text-left"><%= link_to "#{student.name} ", student %><%= student.surname  %></td>
<td class="text-center"><%= "#{student.day_of_birth} /" %>  
            <%= "#{student.month_of_birth} /"%>
            <%= student.year_of_birth %></td>
<td class="text-center"> <%= student.school %></td>
<td class="text-center"> <%= student.email %></td>
<td class="text-center"><%= link_to("Results", {:controller => 'results', :action => 'teacher_result', :id =>  student.email}) %>
</td>
<td class="text-center"> <%= student.comment %></td>
<!--make the whole page not work if not signed in and delte this sing in-->
<td  class="text-center"><% if current_user %>
              <%= link_to 'Edit', edit_student_path(student) %>/
              <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %>
               <%else%>
                 <% end %>                                </td>

 <% end %>

 <% end %>


</tbody>


        </td>
                                          </tr>
                                     
                                      <%end%>
                                  
                                     
                                </table>


                </div>
            </div>
        </div>
        
        
                   
 <!------------------------------------------------------------------------------- All Students TABLE BEGIN------------------>   


 
                    
                     <div class="col-md-12">
                         
                         <p>
  <button class="btn purple-button btn-primary" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
    Filter Table
  </button>
</p>
<div class="collapse" id="collapse">
  <div class="card card-body">
      
      
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Filter Table</h4>
                                <p class="category">This table contains filters - school,surname or email</p><br>
                                <p><%= link_to 'Add a Student Filter', new_pfilter_path, class: "btn purple-button" %> </p>
                                     

                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                          <!--<th>School/Surname/Email</th>-->
                                          <th>Filter Keywords</th>
                                          <th class="text-left">Edit/Delete</th>
                                    </thead>
                                     
 <!--ROW 1 -->
<!-- check if the code below works. if deleting the table all works so the prob is in the tble / the prob is that for sure the lfilters themselves is more than 0-->
<!-- check for 0 filters -->
<!-- !!!!!Some of th eheaders need to be rendered before the chekc so that the code does no repeat -->
<% if @pfilters.length == 0 %>
                        <div class="col-md-6">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="text-warning">There are no matches in this filter (add a filter first to see resutls if student exist in the database)</h4><br>
                                
                            </div>
                            </div>
                            </div>
<% end %>
                                    <tbody>
                                        
                                       <tr>   
                                        <!--ADD IF NO PFILTERS to display no filters result-->
                                        <!--IF ONE STUDENT IS THE RESULT OF THE FILTER THEN MAYBE GO STRAIGN TO MARKS?-->
                                        <!-- this should nave ELSE here from if filters==0-->
                                      
                                         <% @pfilters.each do |pfilter| %>
                                          <tr>
                                            <td><%= pfilter.pfilter %></td>
                                            <!--<td><%# pfilter.email %></td>-->
                                            <td><% if current_user %>
                                                    <%#link_to 'Show', pfilter %> 
                                                    <%= link_to 'Edit', edit_pfilter_path(pfilter) %> /
                                                    <%= link_to 'Delete', pfilter, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                <%else%>
                                                <%end%>
                                                </td>
                                          </tr>
                                     
                                   
                                     <% end %>
                                     
                                </table>

                            </div>
                        </div>
                    </div>
                     <!-------------------------------------------------------------------------------  Filter TABLE END------------------>   


                    
        
      </div>
</div>
<tbody class="table-hover">
<tr>
</tr>

</tbody>    
 <!-------------------------------------------------------------------------------  All Students TABLE END------------------>       
        


                </div>
            </div>
        </div>


    

 <%= render 'layouts/footer' %>


    </div>
</div>






<!--
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<p id="notice"><%# notice %></p>

<h1>students/index</h1>
<body>
    -->
    


 <!-- </body>


