  <head>
      <title><%= yield(:title) %>Registration</title>
  </head>
  
  <!--register expand div  try changin z index + displaying in the middle of the page over all the content-->      

  <div class="card card-body" >
      
      <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <div class="card card-plain">
                        <div class="header">
                            <h4 class="title">Registration</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                     
                         

                            <%= form_for(@user) do |f| %>
                            <% if @user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                              <ul>
                                  <% @user.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                  <% end %>
                              </ul>
                          </div>
                          <% end %>

                          <div class="field">
                            <%= f.label :first_name %><br>
                            <%= f.text_field :first_name %>
                        </div>
                        <div class="field">
                            <%= f.label :last_name %><br>
                            <%= f.text_field :last_name %>
                        </div>
                        <div class="field">
                            <%= f.label :email %><br>
                            <%= f.text_field :email %>
                        </div>
                        <div class="field">
                            <%= f.label :password %><br>
                            <%= f.password_field :password, :minlength => 6, :maxlength => 25, :size => 20 %>
                        </div>
                        <div class="field">
                            <%= f.label :password_confirmation %><br>
                            <%= f.password_field :password_confirmation, :minlength => 6, :maxlength => 25, :size => 20 %>
                        </div>
                        <div class="actions">
                         <%= f.submit 'Register', class: "btn purple-button" %>
                     </div>
                     <% end %>

                     <div>
                       <th> <p><%= link_to("Back", {:controller => 'static_pages', :action => 'home'}) %></p></th>

                   </div>


              
               </div>
           </div>
       </div>
       
   </div>
</div>
</div>




</div>





