<!--
*    Title: Light Bootstrap Dashboard source code
*    Author: Creative Tim
*    Date: 2018
*    Code version: 2.0.1
*    Availability: https://www.creative-tim.com/product/light-bootstrap-dashboard
*
-->
<%= render 'layouts/header' %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="header">
          <h4 class="title">Create/Edit A Result</h4>
            <p class="category">Teachers Only</p>
            <br>
        </div>
                            

      <%= form_for(@result) do |f| %>
        <% if @result.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>
            <ul>
              <% @result.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <!-- setting require to true to avoid empty values (except comments)-->
         <div class="field">
          <%= f.label :date_time %><br>
          <%= f.datetime_select :date_time, required: true %>
        </div>
        <div class="field">
          <%= f.label :classes, "Subjects"  %><br>
          <%= f.select :classes,
            ['Accounting', 'Applied Maths', 'Applied Science','Art','Biology', 'Business Studies','Chemistry','English','French',
            'Geography','German','History','Home Economics','Information Technology', 'Irish','Maths', 'Music', 
            'Physical Education', 'Physics',  'Religion', 'Science', 'Sex Education','Spanish','Technology', 
            'Tecnology and Design',  'Technical Graphics','Other Subject 1', 'Other Subject 2','Other Subject 3',
            'Other Language 1','Othe Language 2', 'Othe Language 3'
             ] %>
        </div>
      
        <div class="field">
          <%= f.label :teacher, "Teacher"  %><br>
          <!-- pre filling with teahcer's firstname and surname-->
          <!-- read only for the fist and last names to be visible but cannot be change to avoid mistakes-->
          <%= f.text_field :teacher, :value => @user_first_name +" "+@user_last_name, required: true, :readonly => true  %>
        </div>
        <div class="field">
          <%= f.label :grade %><br>
          <%= f.number_field :grade, min: 1, max: 100, required: true %>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <!-- pre filling with the right email-->
          <!-- read only for the email to be visible but cannot be change to avoid mistakes-->
          <%= f.text_field :email, :value => $studentEmail, required: true, :readonly => true  %>
        </div>
        <div class="field">
          <%= f.label :behaviour %><br>
          <!-- setting up limitters in order to avoid user input mistakes-->
          <!-- setting require to true to avoid empty values-->
          <%= f.number_field :behaviour, min: 1, max: 10, required: true %>
        </div>
        <div class="field">
          <%= f.label :comment, "Comment (on behaviour)"  %><br>
          <%= f.text_field :comment %>
        </div>
        <div class="actions">
          <%= f.submit 'Create Result', class: "btn purple-button" %>
        </div>
      <% end %>
      
       <div class="field">
         <tr>
         <!-- changing the back button to lead back to a particular student's result-->      
          <th> <p><%= link_to("Back", "https://ejournal-reloaded-vadimmalakhovski.c9users.io/results/teacher_result/#{$studentEmail}") %></p></th>
        </tr> 
       </div> 
       
      </div>
     </div>
    </div>
  </div>
</div>
                              
                     
