<!--delete this page not using-->
<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

  <% if @results.length == 0 %>

<h2>There are no resutls yet posted</h2>
<% else %>
<table>
  <thead>
    <tr>
      <th>Date time</th>
      <th>Classes</th>
      <th>Teacher</th>
      <th>Grade</th>
      <th>Email</th>
      <th>Behaviour</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
      <td><%= result.date_time %></td>
        <td><%= result.classes %></td>
        <td><%= result.teacher %></td>
        <td><%= result.grade %></td>
        <td><%= result.email %></td>
        <td><%= result.behaviour %></td>
        <td><%= result.comment %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
<% end %>