<!DOCTYPE html>
<html>
<head>
  <title>Parent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%="Welcome to eJournal Teacher Out" %>
<br />

  <strong>Welcome Guest!</strong>
  <%= link_to "Login", login_path %> or
  <%= link_to "Register", signup_path %>

 <br />
<%# use render this is acopy paste%>
<br/>

 <br />
 <%# e.g .Count to 10 %>
    <%= "You are loged in as:  #{@user_message}" %>
   
<br />


<br />

<%= yield %>

</body>
</html>
