<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :Day_of_Birth %><br>
    <%= f.number_field :Day_of_Birth %>
  </div>
  <div class="field">
    <%= f.label :Month_of_Birth %><br>
    <%= f.number_field :Month_of_Birth %>
  </div>
  <div class="field">
    <%= f.label :Year_of_Birthd %><br>
    <%= f.number_field :Year_of_Birthd %>
  </div>
  <div class="field">
    <%= f.label :schools_name %><br>
    <%= f.text_field :schools_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
