<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @item.surname %>
</p>

<p>
  <strong>Day of birth:</strong>
  <%= @item.Day_of_Birth %>
</p>

<p>
  <strong>Month of birth:</strong>
  <%= @item.Month_of_Birth %>
</p>

<p>
  <strong>Year of birthd:</strong>
  <%= @item.Year_of_Birthd %>
</p>

<p>
  <strong>Schools name:</strong>
  <%= @item.schools_name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
