<!-- filters for parents displayed in parents dahsboard-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<title>Teacher/Student Table</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/stylesheets/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/stylesheets/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

 <%= render 'layouts/header' %>


<!-------------------------------------------------------------------------------  Filters TABLE BEGIN------------------>      
    
   <tbody class="table-hover">
<tr>
</tr>
</tbody>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Filter Table</h4>
                                <p class="category">This table is filtered by the surname or email</p><br>
                                <p><%= link_to 'Add a Student Filter', new_lfilter_path , class: "btn purple-button" %> </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Date of Birth</th>
                                        <th class="text-left">School</th>
                                        <th class="text-left">Email</th>
                                        <th class="text-left">Rsults</th>
                                        <th class="text-left">Comment</th>
                                    </thead>
                                     
 <!--ROW 1 -->
<!-- check if the code below works. if deleting the table all works so the prob is in the tble / the prob is that for sure the lfilters themselves is more than 0-->
<%#if (@students.length == 0 || @lfilters.length == 0) || (@students.length == 0 || @lfilters.length != 0) %>

<%#here I am checking if 1. No students or filters are made = error 2. or there are filters but no students = error. note made elsif for the second so that erros can be more specific%>
<%if (@students.length == 0 || @lfilters.length == 0) || (@students.length == 0 && @lfilters.length != 0) %>
                <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h3 class="title">There are no resutls for the student/s you are looking for by what you are filtering that means that this student is not yet added to the database by a teacher</h3>
                                <p><%= link_to 'Add a Student Filter', new_lfilter_path %> </p>
                            </div>
                            </div>
                            </div>
<% end %>
                                    <tbody>
                                    
                                       <tr>   
                                        <!--ADD IF NO PFILTERS to display no filters result-->
                                        <!--IF ONE STUDENT IS THE RESULT OF THE FILTER THEN MAYBE GO STRAIGN TO MARKS?-->
                                      
                                <% @lfilters.each do |lfilter| %>
                                         <% @students.each do |student| %>
                          <% if lfilter.lfilter.casecmp(student.surname) == 0 || lfilter.lfilter.casecmp(student.email) == 0  %>
                                          <tr>
<td ><%= "#{student.name} "  %><%= student.surname  %></td>
<td ><%= "#{student.day_of_birth} /" %>  
            <%= "#{student.month_of_birth} /"%>
            <%= student.year_of_birth %></td>
<td > <%= student.school %></td>
<td > <%= student.email %></td>
<td><%= link_to("Results", {:controller => 'results', :action => 'parent_result', :id =>  student.email}) %></td>
<td > <%= student.comment %></td>

 <% end %>

 <% end %>


</tbody>


        </td>
                                          </tr>
                                     
                                      <%end%>
                                  
                                     
                                </table>

</div>
</div>
</div>    
    
<!-------------------------------------------------------------------------------  Filters TABLE BEGIN------------------>      
                                    
                                    

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Filter Results</h4>
                                <p class="category">This table is the results of the filters</p><br>
                                <p><%= link_to 'Add a Student Filter', new_lfilter_path, class: "btn purple-button"  %> </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                          <th>Surname/Email</th>
                                          <!--<th>User's Email(delete)</th>-->
                                          <th class="text-left">Edit/Delete</th>
                                    </thead>
                                     
 <!--ROW 1 -->
<!-- check if the code below works. if deleting the table all works so the prob is in the tble / the prob is that for sure the lfilters themselves is more than 0-->
<!-- check for 0 filters -->
<% if @lfilters.length == 0 %>
                        <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h3 class="title">There are no matches in this filter (add a filter first to see resutls if student exist in the database)</h3>
                                <p><%= link_to 'Add a Student Filter', new_lfilter_path %> </p>
                            </div>
                            </div>
                            </div>
<% end %>
                                    <tbody>
                                        
                                       <tr>   
                                        <!--ADD IF NO PFILTERS to display no filters result-->
                                        <!--IF ONE STUDENT IS THE RESULT OF THE FILTER THEN MAYBE GO STRAIGN TO MARKS?-->
                                      
                                         <% @lfilters.each do |lfilter| %>
                                          <tr>
                                            <td><a href="/lfilter/<%= lfilter.lfilter %>"><%= lfilter.lfilter %></a></td>
                                           <!-- <td><%# lfilter.email %></td>-->
                                            <td><% if user_signed_in? %>
                                                    <%# link_to 'Show', lfilter %> 
                                                    <%= link_to 'Edit', edit_lfilter_path(lfilter) %> /
                                                    <%= link_to 'Delete', lfilter, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                <%else%>
                                                <%end%>
                                                </td>
                                          </tr>
                                     
                                   
                                     <% end %>
                                     
                                </table>

                            </div>
                        </div>
                    </div>
    
    
    
          <!-------------------------------------------------------------------------------  Filter TABLE END------------------>   

  

                            </div>

                        </div>
                    </div>

    
          <!-------------------------------------------------------------------------------  Filter TABLE END------------------>   




<%= render 'layouts/footer' %>



    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>


</html>




