 <head>
    <meta charset="utf-8" />
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <title>Filter Form</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>
<%= render 'layouts/header' %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="header">
                    <h4 class="title">Create/Edit A Filter</h4>
                    <p class="category">Enter School/Surname/Email</p>
                </div>
                <br>

                
                <%= form_for(@pfilter) do |f| %>
                <% if @pfilter.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@pfilter.errors.count, "error") %> prohibited this pfilter from being saved:</h2>

                  <ul>
                      <% @pfilter.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                  </ul>
              </div>
              <% end %>
              <tbody>

                <div class="field">
                   <tr>
                    <th> <div class="field"><%= f.label :pfilter,'Searched Term' %>
                        <br>
                        <p><%= f.text_field  :pfilter, required: true %>
                            <br> </div>
                            <%= f.label :email %><br><p><%= f.text_field :email, required: true, value:current_user.email, :readonly => true  %>
                                <br> 
                                <div class="actions"> <%= f.submit 'Create', class: "btn purple-button"  %></div> </p></th>
                            </tr> 
                        </div>   
                        

                        <% end %>
                        <div class="field">
                           <tr>
                            <th> <p><%= link_to 'Back', students_path %></p></th>
                        </tr> 
                    </div> 


                </div>
            </div>
        </div>
        
    </div>
    
    <%= render 'layouts/footer' %>
    <head>
        <meta charset="utf-8" />
        
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


        <title>Filter Form</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
    </head>
    <%= render 'layouts/header' %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="header">
                        <h4 class="title">Create/Edit A Filter</h4>
                        <p class="category">Enter School/Surname/Email</p>
                    </div>
                    <br>

                    
                    <%= form_for(@pfilter) do |f| %>
                    <% if @pfilter.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@pfilter.errors.count, "error") %> prohibited this pfilter from being saved:</h2>

                      <ul>
                          <% @pfilter.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                          <% end %>
                      </ul>
                  </div>
                  <% end %>
                  <tbody>

                    <div class="field">
                       <tr>
                        <th> <div class="field"><%= f.label :pfilter,'Searched Term' %>
                            <br>
                            <p><%= f.text_field  :pfilter, required: true %>
                                <br> </div>
                                <%= f.label :email %><br><p><%= f.text_field :email, required: true, value:current_user.email, :readonly => true  %>
                                    <br> 
                                    <div class="actions"> <%= f.submit 'Create', class: "btn purple-button"  %></div> </p></th>
                                </tr> 
                            </div>   
                            

                            <% end %>
                            <div class="field">
                               <tr>
                                <th> <p><%= link_to 'Back', students_path %></p></th>
                            </tr> 
                        </div> 


                    </div>
                </div>
            </div>
            
        </div>
        
        <%= render 'layouts/footer' %>
