<p id="notice"><%= notice %></p>

<h1>Listing Pfilters</h1>

<table>
  <thead>
    <tr>
      <th>Pfilter</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pfilters.each do |pfilter| %>
      <tr>
        <td><%= pfilter.pfilter %></td>
        <td><%= pfilter.email %></td>
        <td><%= link_to 'Show', pfilter %></td>
        <td><%= link_to 'Edit', edit_pfilter_path(pfilter) %></td>
        <td><%= link_to 'Destroy', pfilter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pfilter', new_pfilter_path %>
