
<%= render 'layouts/header' %>

<tbody class="table-hover">
    <tr>
    </tr>
</tbody>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">All Current Filters</h4>
                        <p class="category">Edit Here</p><br>
                        <p> <%= link_to 'New Pfilter', new_pfilter_path %></p>


                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                              <!--<th>School/Surname/Email</th>-->
                              <th>Filter by</th>
                              <th class="text-left">Show/Edit/Delete</th>
                          </thead>
                          


                          
                          <% if @pfilters.length == 0 %>
                          <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="header">
                                    <h3 class="title">There are no matches in this filter (add a filter first to see resutls if student exist in the database)</h3>
                                    <p><%= link_to 'Add a Student Filter', new_pfilter_path %> </p>
                                </div>
                            </div>
                        </div>
                        <% end %>


                        <tbody>

                         
                            
                         <tr>   
                            <!--ADD IF NO PFILTERS to display no filters result-->
                            <!--IF ONE STUDENT IS THE RESULT OF THE FILTER THEN MAYBE GO STRAIGN TO MARKS?-->
                            <% @pfilters.each do |pfilter| %>
                            <tr>
                                <td><%= pfilter.pfilter %></td>
                                <td><%= link_to 'Show', pfilter %>/<%= link_to 'Edit', edit_pfilter_path(pfilter) %>/<%= link_to 'Destroy', pfilter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>


                        </td>
                    </tr>
                    
                    <%end%>
                    
                    
                </table>


            </div>
        </div>
    </div>
    
    

</div>
</div>
</div>

<!-------------------------------------------------------------------------------  Filter TABLE END------------------>   



<%= render 'layouts/footer' %>


