<p id="notice"><%= notice %></p>

<p>
  <strong>Pfilter:</strong>
  <%= @pfilter.pfilter %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pfilter.email %>
</p>

<%= link_to 'Edit', edit_pfilter_path(@pfilter) %> |
<%= link_to 'Back', pfilters_path %>
