<p id="notice"><%= notice %></p>

<!-- works with this commented out
<p>
<%# link_to("Results", {:controller => 'results', :action => 'index', :id =>  student.email}) %>
</p>
-->
<p>
  <strong>Date time:</strong>
  <%= @result.date_time %>
</p>

<p>
  <strong>Class:</strong>
  <%= @result.classes %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @result.teacher %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @result.grade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @result.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @result.comment %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
