
<!--the line below is taken from a template-->
<div class="wrapper">
   <!--the line below is taken from a template-->
   <div class="sidebar" data-color="purple" data-image="assets/images/sidebar-5.jpg">

        <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->

        <div class="sidebar-wrapper" >
            <div class="logo">
                <a href="https://www.linkedin.com/in/vadim-malakhovski/" target="_blank" class="simple-text">
                    SchoolApp
                </a>
            </div>

            <ul class="nav">
             <li>
                 <%= link_to ({:controller => 'parents', :action => 'index'}) do %>
                 <%= image_tag("icons/parents32.png", :alt => "parents", :class => "header_icons") %>
                 <span>Parents</span>
                 <% end %>
             </li>
             
             <li>
                 <%= link_to ({:controller => 'students', :action => 'index'}) do %>
                 <%= image_tag("icons/teachers32.png", :alt => "teachers", :class => "header_icons") %>
                 <span>Teachers</span>
                 <% end %>
             </li>
             
             <li>
                 <%= link_to "https://www.irishtimes.com/news/education" ,target: "_blank" do %>
                 <%= image_tag("icons/articles32.png", :alt => "articles", :class => "header_icons") %>
                 <span>Articles</span>
                 <% end %>
             </li>
             
             <li>
                 <%= link_to ({:controller => 'static_pages', :action => 'about'}) do %>
                 <%= image_tag("icons/about32.png", :alt => "about", :class => "header_icons") %>
                 <span>About Us</span>
                 <% end %>
             </li>
             
         </ul>
     </div>
 </div>
 <!--the line below is taken from a template-->
 <div class="main-panel ">
   <!--the line below is taken from a template but eddited classes-->
   <nav class="navbar navbar-default navbar-fixed ">
       <!--the line below is taken from a template-->
       <div class="container-fluid">
        <div class="navbar-header">
           <!--the line below is taken from a template params eddited-->
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <!--the line below is taken from a template and eddited-->
            <span class="sr-only">Toggle navigation</span>
            <!--the line below is taken from a template-->
            <span class="icon-bar"></span>
            <!--the line below is taken from a template-->
            <span class="icon-bar"></span>
            <!--the line below is taken from a template-->
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Dashboard</a>-->
        <!-------------------------------------------------------------------------------  headers-->
        <!--going back-->
        <a class="navbar-brand" href="../">
          <%="Home" %>
          
      </a>
  </div>
  <!-------------------------------------------------------------------------------  END  headers-->   
  <!-- the same applies to the rest of the code. The elemets that I've already declare that are comming form the template are similar below-->

  

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        
     <% if current_user%> 
     <li>
       
       
        <a  class="dropdown-toggle" data-toggle="dropdown" href="https://schoolapple.herokuapp.com/users/<%= @user_id%>/edit">
            <i class="fa fa-dashboard"></i>
            <%#=link_to "Welcome:   #{@user_name}", "https://deploy-vadimmalakhovski.c9users.io/users/#{@user_id}/edit" %>  <!--fix, this will be displayed on most of the pages so need in controllers , edit_user_path(@user) -->
            <%#activate when deploying%>
            <p ><%= "Welcome:   #{@user_first_name}"%></p>
            <%#link_to  "https://schoolapple.herokuapp.com//users/#{@user_id}/edit" %> <!--fix, this will be displayed on most of the pages so need in controllers , edit_user_path(@user) -->
            
        </a>
    </li>
    
    <li>
     <a href="logout">
        <i class="fa fa-search"></i>
        <p ><%= "Log Out"%></p>
    </a>
</li> 


<%else%>
<li>
    <a href="signup" >
        <i class="fa fa-dashboard"></i>
        <p >Register</p>
    </a>
</li>

<li>
 <a href="login">
    <i class="fa fa-search"></i>
    <p>Login</p>
</a>
</li>
<%end%>

</ul>
                            
                            
                            
        </div>
    </div>
</nav>
