        <!DOCTYPE html>
        
        <html>
        <head>

          <meta name="viewport" content="width=device-width, initial-scale=1">

          <!--adding Favicon to the tab-->    
          <%= favicon_link_tag 'favicon-196.png' %>
          <!--adding Nameto the tab-->
          


          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>
          <%= javascript_include_tag :defaults %>
      </head>
      <body>
        <!--!!!!!I could have added header  her so that they would be displayd on every page but my design is to prevent header on the results pages--> 
        
        
    
      <%= yield %>
          
    </body>
</html>
